<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}sass/application.scss">
  <title>PlanGenius</title>

</head>
<body>
  <nav>
  <img src="{{ STATIC_URL }}images/hamburger.png" class="hamburger">
  <img class="logo" src="{{STATIC_URL}}images/logo-icon-small.jpg">
</nav>
<div class="wrap">
  <h1><strong>{{type}}</strong></h1>
  <h1>{{ event.title }}</h1>
  {% for item in items %}
    <div class="voting-option">
      <h3>{{ item.title }}</h3>
      <p>{{ item.description }}</p>
      <img src="{{item.image.url}}">
    </div>
  {% endfor %}
</div>
</body>
</html>
